<div id="slider">
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.numer" index="slide.numer">
            <img ng-src="{{slide.image}}" class="img-responsive">
            <div class="carousel-caption">

            </div>
        </uib-slide>
    </uib-carousel>
</div>
<div class="container"> 
<div class="col-md-3 news-right">
   
    <li ng-repeat="new in news"><a href="">{{new.tytul}}</a></li>
</div>
<div class="col-md-9 main-box">
    
</div>
    
</div>